<form class="d-flex" [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
  <div class="m-1">
    <label for="name">Name:</label>
    <input type="text" formControlName="name" id="name" />
    <div
      *ngIf="createAccountForm.get('name')?.errors?.['required'] && createAccountForm.get('name')?.touched"
    >
      Name is required.
    </div>
  </div>

  <div class="m-1">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div
      *ngIf="createAccountForm.get('email')?.errors?.['required'] && createAccountForm.get('email')?.touched"
    >
      Email is required.
    </div>
    <div
      *ngIf="createAccountForm.get('email')?.errors?.['required'] && createAccountForm.get('email')?.touched"
    >
      Please enter a valid email address.
    </div>
  </div>

  <div class="m-1">
    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" formControlName="phone" />
    <p>{{ createAccountForm.value.phone }}</p>
  </div>

  <button
    mat-raised-button
    class="btn btn-primary button-style"
    [disabled]="!createAccountForm.valid"
    type="submit"
  >
    Create Account
  </button>
</form>
