<app-modal [title]="title" [customFooter]="true">
  <div body class="modal-body">
    <img src="{{product?.defaultImage}}" alt="Random image" class="image-size">
    <p>{{product?.description}}</p>
    <p>£ {{product?.price}}</p>
  </div>
  <div footer class="modal-footer">
    <button mat-raised-button (click)="close()" type="button" class="btn btn-default mat-colour">
      Close
    </button>
    <button mat-raised-button type="submit" (click)="updateUserBasket(product)" class="btn btn-primary mr-2">
      Add product
    </button>
  </div>
</app-modal>