.background-image {
  background: url("/assets/Images/background.jpg");
  width: 135%;
  height: 135%;
  background-size: cover;
  background-position: center,center;
}

@media (min-width: 425px) {
  .background-image {
    width: 100%;
    height: 100%;
  }
}