.background-image {
  background-image: url("/assets/Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 150vh;
}

@media (min-width: 425px) {
  .background-image {
    width: 100%;
    height: 100%;
  }
}